
article.container.login-page .col {
    display: flex;
    justify-content: center;
}

.box.login-form form div div input {
    width: 100%;
}

.login-container
{
	width: 50%;
}



@media screen and (max-width: 544px)
{
	.login-container
	{
		width: 80%;
	}
}