
.events-container{
	margin-top: 50px; 
}

.events-container .row{
	flex-direction: column;
}

.events-container .col {
	margin: 2% 0;
}

.events-container .col h1{
	text-align: center;
	font-size: 3rem;
	font-weight: 900;
}

.all-events-wrapper{
	display: flex;
}

.event-product{
	display: grid;
    border: 4px solid #ddd;
    width: 28%;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 4px 4px 16px #ddd, -4px -4px 16px #ddd;
		margin: 0 1%;
}